/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap'); */

#lightgallery {
  display: flex;
}


a {
  display: inline-block;
  border-bottom: 0.1rem;
  border-radius: 0.1;
  box-shadow: none;
  border-color: #726c6c;
  text-align: center;
  border: 0.5;
  padding: 4 rem;
  margin-left: 20px;
  width: auto;
}

.bordeada {

border: 1px solid;
border-radius: 10px;
text-align: center;
border-color: #ede8e8;
}

/* element.style {
  border: 5px solid;
  border-radius: 10px;
  color FONT-WEIGHT: 500;
}
 */
.card{
  margin-left: 10px;
  max-width: 310px;
  max-height: 510px !important;
  min-height: 510px !important;
  height: 510px;
  margin-top: 10px;
}


a img {
  width: 100%;
  height: 80%;
  border-bottom: 1rem;
  border-radius: 0.5;
  box-shadow: none;
  border-color: #726c6c;
  text-align: center;
  border: 0.5;
  outline: none;
}

.lg-actions .lg-prev::after {
  content: '⇐' !important;
}

.lg-actions .lg-next::before {
  content: '⇒' !important;
}

.lg-toolbar .lg-close::after {
  content: 'X' !important;
}

a#lg-download {
  display: none;
}


.carousel-inner img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  margin: auto;
  width: 100%;
}

.col-md-3 {
  display: inline-block;
  margin-left: -4px;
}

.col-md-3 img {
  width: 100%;
  height: auto;
}

body .carousel-indicators li {
  background-color: rgb(102, 99, 99);
}

body .carousel-indicators {
  bottom: 0;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon {
  background-color: rgb(123, 120, 120);
}

body .no-padding {
  padding-left: 0;
  padding-right: 0;
}


.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #EEEEEE;
}

.panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: #FAFAFA;
  border-color: #EEEEEE;
}

.panel-title {
  font-size: 14px;
}

.panel-title > a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.more-less {
  float: right;
  color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #EEEEEE;
}

/* ----- v CAN BE DELETED v ----- */
/* body {
background-color: #26a69a;
} */

.demo {
padding-top: 60px;
padding-bottom: 110px;
}

.demo-footer {
position: fixed;
bottom: 0;
width: 100%;
padding: 15px;
background-color: #212121;
text-align: center;
}

.demo-footer > a {
text-decoration: none;
font-weight: bold;
font-size: 14px;
color: #fff;
}

/* Content Container */
.contentContainer {
  width: 98%;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 35px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom:30px;
  overflow:hidden;
}
/* Container for slider. 
Width set to 100% so player will fill it's parent container  */

.sliderContainer {
  width: 100%;
}
/* Slide/Video Caption */
.slideCaption {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-top:10px;
  padding-bottom:5px;
  opacity:0.85;
}
/* Video Container DIV */
.video-container div {
  background: white;
}
/* Video Thumbnail DIV */
.video-thumbnails div {
  height: 90px;
  background: white;
  text-align: center;
  /* Background Cover to fill DIV */
  /* background-size: cover; */
}

.video-thumbnails .slick-slide{
  background-clip: border-box;
}
/* **************
************* */

.videoWrapper {
  position: relative;
  width: 100%;
  height: 0;
  background-color: #000;
}
.videoWrapper43 {
  padding-top: 75%;
}
.videoWrapper169 {
  padding-top: 56%;
}
.videoIframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.videoPoster {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  text-indent: -999em;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  -moz-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}
.videoWrapperActive .videoPoster {
  opacity: 0;
  height: 0;
  -webkit-transition-delay: 0s, 800ms;
  -moz-transition-delay: 0s, 800ms;
  transition-delay: 0s, 800ms;
}
.videoIframe {
  position: absolute;
  top: 0;
}
/* *********
  SVG PLAY BUTTON
********** */

.stroke-dotted {
  stroke-dasharray: 4, 5;
  stroke-width: 1px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: spin 4s infinite linear;
  animation: spin 4s infinite linear;
  -webkit-transition: opacity 1s ease, stroke-width 1s ease;
  transition: opacity 1s ease, stroke-width 1s ease;
}
.stroke-solid {
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
  stroke-width: 4px;
  -webkit-transition: stroke-dashoffset 1s ease, opacity 1s ease;
  transition: stroke-dashoffset 1s ease, opacity 1s ease;
  opacity: 0;
}
.vid-icon {
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}
.play-vid:hover .stroke-dotted {
  stroke-width: 4px;
  opacity: 1;
}
.play-vid:hover .stroke-solid {
  opacity: 1;
  stroke-dashoffset: 300;
}
.play-vid:hover .icon {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 1;
}
.play-vid {
  cursor: pointer;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.85;
  width: 110px;
  height: 110px;
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* Default Slick Slide */
.video-thumbnails .slick-slide {
  /* Set Opacity so focus is on the centered slide.
	   Can apply CSS filters too. */
  opacity: 0.65;
  /* Set Transition ALL for smooth window resizing. */
  transition: all 0.2s ease-in-out;
  /* Scale down images not centered. */
  transform: scale(0.8);
  
  
  outline: none;
  
  /* Grab Hand Cursor */
  
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.slick-slide {color:white;}
.video-thumbnails .slick-slide:hover {
  /* Set Opacity so focus is on the centered slide.
	   Can apply CSS filters too. */
  opacity: 1;
  transform: scale(0.9);
}
.slick-slide.slick-center {
  opacity: 1;
  transform: scale(1);
  cursor: pointer;
}

/* Hide carousel until webpage is loaded to prevent FOUC - Flash Of Unstyled Content -

Class is removed once page has loaded using jQuery  

$(function() {
    $('.no-fouc').removeClass('no-fouc');
    console.log( "ready!" );
});

*/

.no-fouc {visibility: hidden}
pre {overflow:auto;}

/* #bn-direccion {
  color: #0a0a0a;
  font-size: 1.3em;
  font-style: normal;
  padding-right: 20px;
  float: left;
  position: relative;
  margin-bottom: 5px !important;
} */

#ubicacion{
  color: #5f5f5f;
  font-size: 0.5em;
  font-style: normal;
  position: relative;
}


html{
  scroll-behavior: smooth;
}


body{
  font-family: 'Aalto Sans Pro',sans-serif;
  font-weight: normal;
  font-style: normal;
  background: #ffffff;
  font-size: 1em;
}
.bg-light{
  background: #fff!important;
}
.navbar-brand{
  color: #38404A;
  font-size: 25px;
  color: red;
}

.subtitle {
/*   font-family: 'Aalto Sans Pro',sans-serif; */
  font-weight: 600;
  font-style: normal;
  color:red !important;
}


.relevante{ /*CSSS por clases*/
  color: red;
}

.negro{ /*CSSS por clases*/
  color: black !important;
  /* margin-bottom: 16px; */
}

.card .negro{
  text-align: justify !important;
}


/************************************************/



.head__custom-nav .navbar-brand img {
  width: 264px;
  height: 54px; }
.head__custom-nav .navbar-brand span {
  font-weight: 700;
  font-size: 22px;
  margin-left: 10px; }
.head__custom-nav button {
  padding: 0; }
  .head__custom-nav button span img {
    width: 45px; }
.head__custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
  color: #000;
  font-weight: 400;
  padding: 8px 15px;
  white-space: nowrap;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .head__custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
    color: lightcoral; }

.custom-section {
  width: inherit;
  padding: 40px 0; }
  @media screen and (max-width: 991.98px) {
    .custom-section {
      flex-direction: column-reverse; } }
  .custom-section .col-lg-4 {
    margin-top: 100px; }
    .custom-section .col-lg-4 h2 {
      font-weight: 700;
      font-size: 63px;
      color: #000;
      margin-bottom: 0;
      line-height: 1;
      white-space: nowrap; }
    .custom-section .col-lg-4 h3 {
      font-weight: 300;
      font-size: 64px;
      color: #000;
      line-height: 1; }
    .custom-section .col-lg-4 p {
      color: #000;
      font-size: 14px;
      margin-top: 30px; }
    .custom-section .col-lg-4 a {
      display: inline-block;
      padding: 8px 22px;
      color: #fff;
      background-color: #1EA5F7;
      border: 1px solid transparent;
      margin-top: 60px;
      text-decoration: none;
      transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
      .custom-section .col-lg-4 a:hover {
        color: #1EA5F7;
        background-color: #fff;
        border: 1px solid #1EA5F7; }
  .custom-section .col-lg-8 img {
    width: 90%;
    position: absolute;
    top: -14rem;
    right: -11%; }
    @media screen and (max-width: 990.98px) {
      .custom-section .col-lg-8 img {
        width: 90%;
        position: absolute;
        top: 0;
        right: 0; } }
  .custom-section .col-lg-8 .animate-img img {
    width: 108px;
    position: absolute;
    top: -13.5rem;
    right: 2.9rem; }

/*# sourceMappingURL=style.css.map */

/* Footer */


footer{
  position:inherit;
  bottom:0;
  width: 98%;
}

.iconos img{
	padding-left: 0px;
	margin-left: 0px;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 60px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 1px;
}

.box__footer span{
  display: flex;
  padding: 0.3px;
  margin: 0.3px;
  margin-top: 12px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

*{
  margin: 0;
  padding: 0;
}

/*.title {
   Estilos de título h1 
  text-align: center;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}*/

.pdfview {
  /* Centrado */
  margin: auto;
  display: block;
  /* Tamaño */
  width: 820px;
  height: 100%;
  /* Mejorar aspecto */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255,), 0 6px 20px 0 rgba(255, 255, 255);
}

.efecto {
  transition: all .5s ease;
  color: #001F3F;
  
  border: 1px solid rgba(187, 191, 207, 0.4);
  font-family:'Aalto Sans Pro', sans-serif;
  text-align: center;
  line-height: 1;
  font-size: 18px;
  background-color : transparent;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  box-sizing: border-box;
  background: #FFFFFF;
  width: inherit;
  height: 65px;
  left: 130.5px;
  top: 1765px;
  margin-top: 10px;
  
}

.ubicacion{
  margin-right: 10px;
}

.efecto img{
  margin-right: 10px;
}

a .efecto{
  -webkit-appearance: button;
  text-rendering: auto;
  width: 300px;
}

a .efecto span{
  padding: 10px;
}
.efecto:hover {
  /* color: #001F3F; */
  color: #E11E00;
  background-color: #FFF3F3;
}

.notas {
  transition: all .5s ease;
  color: #E11E00;
  
  border: 1px solid rgba(187, 191, 207, 0.4);
  font-family:'Aalto Sans Pro', sans-serif;
  text-align: center;
  line-height: 1;
  font-size: 18px;
  background-color : transparent;
  /* padding: 10px; */
  outline: none;
  border-radius: 10px;
  box-sizing: border-box;
  background: #FFFFFF;
  width: 100px;
  height: 52px;
  left: 130.5px;
  top: 1765px;
  
}

a .notas{
  -webkit-appearance: button;
  text-rendering: auto;
  width: 300px;
}

a .notas span{
  padding: 10px;
}
.notas:hover {
  /* color: #001F3F; */
  color: #E11E00;
  background-color: #FFF3F3;
}

#reglasNormas{
  padding-bottom: 40px;
  padding-top: 24px;
}

/*****SLIDER******/

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 

ul,ol{
	list-style: none;
}

.slideshow{
	width: 100%;
	position: relative;
}

.slider li, ul{
	width: 100%;
}

.slider li{
	overflow: hidden;
}

.slider li img{
	width: 100%;
}

.slider .caption{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 15px 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	color: #fff;
	z-index: 1;
}

.slider .caption h1{
	font-size: 50px;
}

.slider .caption p{
	margin-top: 10px;
	font-size: 20px;
}

.pagination{
	position: absolute;
	top: 102%;
	width: 100%;

	display: flex;
	justify-content: center;
}

.pagination li{
	font-size: 20px;
	margin: 2px 5px;
	color: #858585;
	cursor: pointer;
}

.left, .right{
	position: absolute;
	top: 0;
	height: 100%;

	display: flex;
	align-items: center;

	color: #fff;
	font-size: 35px;
	cursor: pointer;
	z-index: 2;
}

.left{
	left: 10px;
}

.right{
	right: 10px;
}


.ls-slide{
	font-size: 35px;
	width: 50;
}

.ls-bg{
	font-size: 35px;
	width: 50;
}

.h3-size {
	color: #005083 !important;
	font-size: 2.5em;
}

.dt-fancy-title .title-left .h4-size {
	font-size: 1.2em !important;
}

.rsShor .slider-post-inner {
	display: none;
}

.tit_cv {
	text-align: center;
	font-size: 1em;
	color: #fff;
	display: block;
	margin: 0.2em;
	background-color: #00b0e7;
	padding: 0.5em;
	font-weight: 600;
	text-decoration: none;
	transition: all 0.3s ease;
}

.tit_cv:hover {
	background-color: #005083;
	color: white;
	transition: all 0.3s ease;
}

.imgPeq {
	margin-top: -10px;
	padding-left: 15px !important;
	padding-left: 10px !important;
}

.lista_bull {
	border-bottom: 1px dotted #ccc;
	padding: 0 10px;
}

div.imagenconcss{
	background: url(img/imagencss.jpg) no-repeat 0% 0%;
	background-color: #000;
	line-height: 1.4em;
	margin: 25px 0 25px 15px;
	padding: 50px 8px 5px 20px;
	text-decoration: none;
}

@media screen and (max-width: 400px){
	.slider .caption p{
		display: none;
	}

	.slider .caption h1{
		font-size: 35px;
	}

	.left, .right{
		font-size: 30px;
	}

	.slider li img{
		width: 600px;
	}

	.pagination{
		display: none;
	}

}

.box {
	background: #fff;
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
	text-align: left;
	padding: 1.9em;
	border-radius: 30px;
  inline-size: border-box;
}
	element.style {
		width: 100%;
		height: 100%;
		object-fit: cover;
		}

	.box.style1{
		position: relative;
		border-style: 0px; 
	}
	.box.style1 .image {
		position: relative;
		left: 2em;
		top: 2em;
		margin: -4em 0 4em -4em;
		width: auto;
	}

	.box.style1 {
		padding: 1.8em 2em 3.5em 2em;
	}

		.box.style1 h3 {
			margin-bottom: 0.5em;
		}

	.box.style2 h3 {
		margin-bottom: 0.25em;
		font-weight: 600;
	}

	.box.style2 .image {
		position: relative;
		left: 2em;
		top: 2em;
		margin: -4em 0 4em -4em;
		width: auto;
	}


/* Icons */

.icon {
	text-decoration: none;
}

	.icon:before {
		display: inline-block;
		font-family: FontAwesome;
		font-size: 1.25em;
		text-decoration: none;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.icon > .label {
		display: none;
	}

	.icon.featured {
		color: #EA8A95;
		display: block;
		margin: 0 0 1.5em 0;
		cursor: default;
	}

	.icon.featured:before {
			font-size: 6em;
	}

  .modal-content{
    background-color: transparent !important;
    border: none !important;
    height: 95vh;
  }
  .modal-header{
    border: 0px;
    border-bottom: none !important;
    padding-top: 7px;
  }
  .modal-body{
    padding: 0px !important;
    margin: 0px !important;
  }
  .modal-dialog{
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    height: 95vh;
    min-width: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .modal-header .close{
    color: white;
    font-size: 30px;
  }

  .video-thumbnails .slick-track{
    transform: translate3d(0px,0px,0px) !important;
    /* width: initial !important; */
  }

  .custom-notas .slick-track{
    transform: translate3d(0px,0px,0px) !important;
  }

  .card-custom{
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    border-top: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
  }

  @media  (max-width: 720px){
    .box2{
      width: 100%;
      text-align: end;
    }
    .video-thumbnails .slick-track{
      width: 100% !important;

      align-content: center;
    }

    .video-thumbnails .slick-slide{
      width: 70px !important;
      height: 70% !important;
      background-size: 100% 100%;
    }

    .custom-notas .card{
      width: 400px !important;
    }
  }

  @media  (min-width: 1020px){
    .box2{
      width: auto;
    }
  }